<nav class="sidebar sidebar-left">
  <ul id="orgchart-nav" class="menu">
    <li><a class="orgchart tree" href="./orgchart-tree">Tree</a></li>
    <li><a class="orgchart folkgraph" href="./orgchart-folkgraph">Folkgraph</a></li>
    <li><a class="orgchart dot" href="./orgchart-dot">DOT</a></li>
  </ul>
</nav>

<div id="page" class="orgchart">
{{{ yield }}}
</div>
