<div id="stage">
  <div id="photo">
    <img src="./img/null.jpg" />
  </div>

  <div id="question">
    <div id="scores">
      Score: <span id="score">0</span><br />
      Streak: <span id="streak">0</span>
    </div>
    <div id="question-cluster">
      <div id="qmark">?</div>
      <div id="caption">Who's that Mozillian?</div>
      <div id="options"></div>
    </div>
  </div>
</div>

<script src="js/view-whosthat.js"></script>
